@import '../../styles/main.module.scss';

.button{
    background-color: $primary;
    min-width: 164px;
    min-height:48px;    
    border-radius: 24px;
    color: $lightwhite;
    font-family: "jakarta-medium", sans-serif;
    font-size:15px;
}