@import '../../styles/main.module.scss';

.container {
  background-color: $lightwhite;
  min-height: 88px;
  width: 280px;
  margin-top: 20px;
  border-radius: 8px; 
  box-shadow: 0px 4px 6px 0px #364E7E1A;
  padding: 23px 16px;
  cursor:pointer;
}

.title{
  font-family: 'jakarta-bold', 'sans-serif';
  font-size: 15px;
  color: $black;
}

.subtitle{
  color: $lightgrey;
  font-family: 'jakarta-medium', 'sans-serif';
  font-size:12px;
}
