//GLOBALS


//COLORS
$primary: rgb(99, 95, 199);
$secondary: rgb(168, 164, 255);
$black: rgb(0, 1, 18);
$blackgrey: rgb(32, 33, 44);
$darkgrey: rgb(43, 44, 55);
$grey: rgb(62, 63, 78);
$lightgrey: rgb(130, 143, 163);
$darkwhite: rgb(228, 235, 250);
$white: rgb(244, 247, 253);
$lightwhite: rgb(255, 255, 255);
$red: rgb(234, 85, 85);
$lightred: rgb(255, 152, 152);

//TYPOGRAPHY
@font-face {
  font-family: jakarta-light;
  src: url("../assets/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf");
}

@font-face {
  font-family: jakarta;
  src: url("../assets/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf");
}

@font-face {
  font-family: jakarta-medium;
  src: url("../assets/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf");
}

@font-face {
  font-family: jakarta-bold;
  src: url("../assets/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf");
}

:root{
  --kanban-font-light: jakarta-light, serif;
  --kanban-font: jakarta, serif;
  --kanban-font-medium: jakarta-medium, serif;
  --kanban-font-bold: jakarta-bold, sans-serif;
}
